$main: #333;
$light: #ffffff;
$primary: #0F4C81;
$secondary: #187E7E;
$accent: #3A057E;
$accent-2: #FF7C32;
$link: #246DAD;
$info: #555555;
$disabled: #a0a0a0;


$bg-light: #FCFCFC;
$bg-lighter: #FEFEFE;
$bg-light-accent: #F0F3FF;
$bg-light-accent-g: linear-gradient(128.75deg, #EDFCFF -6.91%, #DACDFF 101.68%);
$bg-dark:#0F4C81;
$bg-dark-second-g: linear-gradient(104.34deg, #0F4C81 -3.95%, #0B9B9B 101.28%);
$bg-dark-accent-g: linear-gradient(167.55deg, #446DFF 8.9%, #A848FD 96.41%);