.ri-cart-add {
  position: relative;

  & > span {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(1.7);
    width: 20px;
    height: 21px;
    background: linear-gradient(to left, currentColor 12px, transparent 0)no-repeat -1px 6px/18px 2px, linear-gradient(to left, currentColor 12px, transparent 0)no-repeat 6px 14px/11px 2px, linear-gradient(to left, currentColor 12px, transparent 0)no-repeat 0 2px/4px 2px, radial-gradient(circle, currentColor 60%, transparent 40%)no-repeat 12px 17px/4px 4px, radial-gradient(circle, currentColor 60%, transparent 40%)no-repeat 6px 17px/4px 4px;

    &::after, &::before {
      content: "";
      display: block;
      position: absolute;
      box-sizing: border-box;
      width: 2px;
      height: 14px;
      background: currentColor;
      top: 2px;
      left: 4px;
      transform: skew(12deg);
    }

    &::after {
      height: 10px;
      top: 6px;
      left: 16px;
      transform: skew(-12deg);
    }

    & > span {
      display: block;
      box-sizing: border-box;
      background: lighten($c-second, 55);
      border-radius: 10px;
      margin-top: -2px;
      position: absolute;
      top: 0;
      left: 21%;
      transform: scale(.3);
      width: 16px;
      height: 2px;

      &::after {
        display: block;
        box-sizing: border-box;
        background: lighten($c-second, 55);
        border-radius: 10px;
        content: "";
        position: absolute;
        width: 2px;
        height: 16px;
        top: -7px;
        left: 7px;
      }
    }
  }

}