$c-main: #333;
$c-light: #ffffff;
$c-prime: #0F4C81;
$c-second: #187E7E;
$c-accent: #3A057E;
$c-accent-2: #FF7C32;
$c-link: #246DAD;

$main: $c-main;
$primary: $c-prime;
$secondary: $c-second;
$accent: $c-accent;
$warning: $c-accent-2;
$light: $c-light;
$link: $c-link;


$bg-light: #FCFCFC;
$bg-lighter: #FEFEFE;
$bg-light-accent: #F0F3FF;
$bg-light-accent-g: linear-gradient(128.75deg, #EDFCFF -6.91%, #DACDFF 101.68%);
$bg-dark:#0F4C81;
$bg-dark-second-g: linear-gradient(104.34deg, #0F4C81 -3.95%, #0B9B9B 101.28%);
$bg-dark-accent-g: linear-gradient(167.55deg, #446DFF 8.9%, #A848FD 96.41%);


