@include block(catsGrid) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    grid-auto-flow: dense;
  }

  @include element(logo) {
    @include flex-centered;
    text-align: center;
    height: 89px;    
    @include font-vw(18px);
    font-weight: 600;
  }

  @include modifier(manufacturers) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: .5em;
    grid-auto-flow: dense;
  }

}

@include block(catalogHeader) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include up-vw(padding-left, 21px);
  @include up-vw(padding-right, 21px);
  @include up-vw(margin-top, 34px);
  @include up-vw(margin-bottom, 55px);

  @include element(parent) {
    @include font-vw(12px);
    opacity: .55;
    width: 100%;
    display: flex;
    align-items: center;
    @include up-vw(margin-bottom, 13px);

    .ri-chevron-left {
      transition: .21s ease-in;
      transform: scale(.5);
    }

    &:hover {
      ri-chevron-left {
        transform: scale(.8) translateX(-1vw);
      }
      
    }
  }

  @include element(total) {
    @include font-vw(.8rem);
    opacity: .89;
  }

  @include element(sorting) {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @include font-vw(10px);
  }
}