@include block(button) {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;


  // Иконки
  @include element(icon) {
    transition: .21s ease;

    @include modifier(large) {
      @include font-vw(21px);
    }
    @include modifier(right) {
      @include up-vw(margin-left,21px);
    }

    @include modifier(catalog) {
      @include up-vw(margin-left,13px);
      @include up-vw(margin-top,-3px);

      & , &::after, &::before {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 10px;
        height: 10px;
        border: 0;
      }

      &::after, &::before {
        content: "";
        position: absolute;
        left: 0;
        height: 4px;
        border-left: 4px solid;
        border-right: 4px solid;
      }

      &::after {
        bottom: 0;
      }

      &::before {
        top: 0;
      }
    }
  }

  @include modifier(arrow) {
    &::after {
      display: inline-block;
      //font-family: '#{$icomoon-font-family}' !important;
      //content: $i-navigate_next;
      font-size: inherit;
      line-height: inherit;
      transform: translateX(0);
      @include up-vw(margin-left,13px);
      transition: transform .3s ease-in;
    }

    &:hover {
      &::after {
        transform: translateX(8px);
      }
    }
  }

  // Размеры
  @include modifier(xsmall) {
    @include padding-vw(2px, 3px);
    @include font-vw(12px);
    font-weight: 600;
    transition: .2s ease-in;

    &::after {
      @include up-vw(margin-left,8px);
    }
  }

  @include modifier(small) {
    @include padding-vw(5px, 8px);
    @include font-vw(13px);
    border-radius: 8px;
    font-weight: 600;
    transition: .25s ease-in;
  }

  @include modifier(middle) {
    @include padding-vw(8px, 13px);
    @include font-vw(13px);
    border-radius: 13px;
    font-weight: 600;
    transition: .28s ease-in;
  }

  @include modifier(medium) {
    @include padding-vw(13px, 21px);
    @include font-vw(15px);
    border-radius: 15px;
    font-weight: 500;
    transition: .3s ease-in;
  }

  @include modifier(large) {
    @include padding-vw(21px, 34px);
    @include font-vw(16px);
    border-radius: 13px;
    font-weight: 500;
    transition: .3s ease-in;
  }

  // Цвета
  @include modifier(primary) {
    color: #fff;
    background-color: $c-prime;

    &:hover {
      background-color: lighten($c-prime,13%);
    }
  }

  @include modifier(secondary) {
    color: #fff;
    background-color: $c-second;

    &:hover {
      background-color: lighten($c-second,5%);
    }
  }

  @include modifier(transparent) {
    color: $c-prime;
    background-color: transparent;
    &:hover {
      color: lighten($c-prime, 13%);
    }
  }

  @include modifier(transparentInv) {
    color: $c-light;
    background-color: transparent;
    &:hover {
      color: transparent($c-light, 89%);
    }
  }

  @include modifier(g_prime) {
    //background: linear-gradient(138.88deg, #2F7ABB 5.12%, #4926AD 96.21%);
    background: linear-gradient(138.88deg, #2f7abb, #4926ad);
    background-size: 144% 144%;
    background-position: 0 0;
    color: $c-light;

    &:hover {
      background-position: 98% 0;
    }
  }
  @include modifier(g_second) {
    background: linear-gradient(180deg, #0B9B9B 0%, #045B76 113.48%);
    background-size: 144% 144%;
    background-position: 0 0;
    color: $c-light;

    &:hover {
      background-position: 98% 0;
    }
  }
  @include modifier(g_accent) {
    background: linear-gradient(138.88deg, #882BD0 5.12%, #4926AD 96.21%);
    background-size: 144% 144%;
    background-position: 0 0;
    color: $c-light;

    &:hover {
      background-position: 98% 0;
    }
  }


  // Отступы
  @include modifier(mys) {
    @include up-vw(margin-top,5px);
    @include up-vw(margin-bottom,8px);
  }
}