:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

@import '~~assets/scss/common/reset';
@import '~~assets/scss/common/base';
@import '~~assets/scss/common/typography';
@import '~~assets/scss/ricons/css-icons';

.container {
  max-width: 100%;
  width: 98vw;
  margin: auto;
  padding-left: 21px;
  padding-right: 21px;
}

// fallback
@import '~~assets/scss/common/buttons';